---
layout: default
title: Tags
---
<div class='content'>
  {% for tag in site.tags %}
  <h4 id='{{ tag[0] }}'>{{ tag[0] }}</h4>
  <ul>
    {% for post in site.posts %}
      {% for tagp in post.tags %}
        {% if tagp == tag[0] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {% endfor %}
</div>
<script>
function only_show_hash(){
  $('h4').hide();
  $('h4').next().hide();
  $(window.location.hash).show();
  $(window.location.hash).next().show();
}

function jQueryLoaded(){
  only_show_hash();

  $(window).on('hashchange', function(){
    if(window.location.hash){
      only_show_hash();
    }
  });
}

function checkJQuery(){
  if(window.jQuery){
    jQueryLoaded();
  }else{
    window.setTimeout(checkJQuery, 50);
  }
}

checkJQuery();
</script>

